{% extends 'base.html' %}

{% load static %}

{% block main-content %}
<div class="about" id="about">
	<div class="container-fluid mt-5">
		<h2 class="heading text-center fw-bold">About Fruit Valley</h2><hr>
		<div class="col-md-12">
			<h3 class="text-center">We provide Seasonal, Off-Seasonal &amp; imported Fruits. We are online.</h3><br>
			<p class="text-center">Fruit Valley is a real-time source linked retail outlets of fruits. We manage entire supply chain from sourcing of fruits from farms to delivering them to consumers' door steps. Fruits Valley has developed online platform to reach out to end consumers and to the fruit growing farmers. Fruit lovers can order the seasonal, off-season and imported fruits through our user-friendly website at very competitive rates.

 </p>
			<div class="text-center">
				<a href="#" class="btn btn-info">Read More </a>
			</div>

		</div>
		
</div>

{% endblock main-content %}