{% extends 'base.html' %}

{% load static %}

{% block main-content %}
<div class="container">
    <div class="row">
        <div class="col-6 text-center mt-5">
            <a href="/fruitcart"
                style="text-decoration: none; font-weight: bold; color: #5040A0; font-size: x-large; box-shadow: 0 0 29px 0 #4fb1cf;">Fruit cart</a>
        </div>
        <div class="col-6 text-center mt-5">
            <a href="/juicecart"
                style="text-decoration: none; font-weight: bold; color: #5040A0; font-size: x-large;box-shadow: 0 0 29px 0 #4fb1cf;">Juice Cart</a>
        </div>
    </div>
</div>
<br>
{% endblock main-content %}