{% extends 'base.html' %}

{% load static %}

{% block main-content %}


<style>
.pass{
    background-image: url('https://images.pexels.com/photos/1410140/pexels-photo-1410140.jpeg?auto=compress&cs=tinysrgb&w=600');
            background-repeat: no-repeat;
            background-size: Cover;
            opacity: 0.9;
            height: 100vh;
}

</style>
    <div class="row">
        {% for x in data %}
        {% if forloop.counter == 1 %}
        <form action="/changepassword/{{x.id}}" method="POST" class="pass">
            <a href="/home"><h2><i class="ms-4 bi bi-arrow-left-circle"></i></h2></a>
            {% csrf_token %}
            <div class="col-md-5 shadow-lg p-3 mx-auto mt-5">
                {% if errmsg %}
                <div class="alert alert-danger">

                    {{errmsg}}
                </div>
                {% endif %}
                {% if success %}
                <div class="alert alert-success">

                    {{success}}
                </div>
                {% endif %}
                <h5 class="bg-light text-primary p-2 font-monospace" style=" text-align: center;">Change a Password</h5>


                <div class="mb-3">
                    <b><label for="input1" class="form-label">Username :-</label></b>
                    <input type="text" class="form-control" name="uname" id="input1" placeholder="Enter Username"
                        value="{{x.username}}" style="border: 1px solid; " readonly>
                </div>

                <div class="mb-3">
                    <b><label for="input2" class="form-label">Old Password :-</label></b>
                    <input type="password" class="form-control" name="passw" id="input2"
                        placeholder="Enter Old Password" style="border: 1px solid;">
                </div>

                <div class="mb-3">
                    <b><label for="input2" class="form-label">New Password :-</label></b>
                    <input type="password" class="form-control" name="newpass" id="input2"
                        placeholder="Enter New Password" style="border: 1px solid;">
                </div>

                <div class="mb-3">
                    <b><label for="input2" class="form-label">Confrim New Password :-</label></b>
                    <input type="password" class="form-control" name="confrimpass" id="input2"
                        placeholder="Enter Password Again" style="border: 1px solid;">
                </div>

                <div style="text-align: center;">
                    <button class="btn btn-success ps-5 pe-5 font-monospace">Change Password</button>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </form>

    </div>




{% endblock main-content %}
