{% extends 'base.html' %}

{% load static %}

{% block main-content %}

<!--Customer Details Start-->
<div class="row mt-2" id="cart">
    <div class="col-md-5 img-thumbnail bg-light shadow-lg" style="margin-left: 9%;">
      {% for x in data %}
      {% if forloop.counter == 1 %}
      <h5 class="text-dark p-2 font-monospace text-center bg-warning">CUSTOMER DETAILS</h5>
      <p><b>Name:</b>&nbsp;&nbsp;&nbsp;{{x.uid.first_name}}</p>
      <p><b>Mobile:</b>&nbsp;&nbsp;&nbsp;987867676</p>
      <p><b>Email ID:</b>&nbsp;&nbsp;&nbsp;{{x.uid.username}}</p>
      {% endif %}
      {% endfor %}
    </div>&nbsp;&nbsp;
<!--Customer Details End-->

<!--Total Amt section start-->
    <div class="col-md-5 img-thumbnail bg-light shadow-lg">
        <h5 class="text-dark p-2 font-monospace text-center bg-warning">TOTAL AMOUNT</h5>
        <p><b>Total&nbsp;({{items}}):</b>Rs. {{total}}</p>
        <hr>
        <p><b>Total Amount:</b>Rs. {{total}}</p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/fruitmakepayment" class="btn btn-info text-dark fw-bold shadow-lg" style="border-radius: 50%;">Make Payment</a><br>
    </div>
<!--Total Amt section End-->


{% for x in data %}
<div class="row mt-2 mx-auto">
    
    <div class="col-md-2 mt-5 me-2 ms-5">
        <img src="{{x.pid.fimage.url}}" alt="" height="200px">
    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <div class="col-md-5 mt-5" style="background-color: azure;">
        <h5 class="font-monospace mt-2">{{x.pid.name}}</h5>
        {% if x.pid.cat == 1 %}
        <p class="card-text">Fleshy Fruit</p>
        {% else %}
        <p class="card-text">Dry Fruit</p>
        {% endif %}
        <p class="card-text"><b>Price:</b> {{x.pid.price}} Rs.</p>
        <p class="card-text"><b>Health Benefit:</b> {{x.pid.benefit}}</p>
        
    </div><br>
    

   
</div>
{% endfor %}

{% endblock main-content %}