{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <title>Registration Form </title>
</head>
<body class="register">
<!--Registration section start-->
  <div class="container">
    <div class="row mt-4">
       <div class="col-12"></div> 
       <a href="/home" style="text-decoration: none; text-align: center; font-size: larger; font-weight: bolder;">Home</a>
    </div>
    <div class="row mt-4">
        <div class="col-md-4 shadow-lg mt-1 p-3 mx-auto">
            <h2 class="text-center">REGISTRATION</h2>   
            <!--Registration Form Start-->
            {% if errmsg %}
            <div class="alert alert-danger">
                {{errmsg}}
            </div>
            {% endif %}
            <form action="/register" method="POST">      
                {% csrf_token %}
                <div class="mb-3">
                    <label for="input1" class="form-label fw-bold">Username:</label>
                    <input type="text" name="uname" class="form-control" id="input1" placeholder="Enter First name Only">
                </div>
                <div class="mb-3">
                    <label for="input2" class="form-label fw-bold">Email ID:</label>
                    <input type="email" name="uemail" class="form-control" id="input2" placeholder="Enter Username here">
                </div>
                <div class="mb-3">
                    <label for="input3" class="form-label fw-bold">Password:</label>
                    <input type="password" name="upass" class="form-control" id="input3" >
                </div>
                <div class="mb-3">
                    <label for="input4" class="form-label fw-bold">Confirm Password:</label>
                    <input type="password" name="ucpass" class="form-control" id="input4" >
                </div>
                <div class="mb-3 text-center">
                    <input type="submit" class="btn btn-info fw-bold" value="Register" >
                    <br><br>
                    Already User?&nbsp;&nbsp;<a href="/login" style="text-decoration: none; color: rgb(23, 10, 166); font-weight: bolder;">Login</a>
                
            </form>
            <!--Registration Form End-->
        </div>
    </div>
<!--Registration section End-->
</div>
</body>
</html>